/* ======= 뱃지 ======= */

img[src*="https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/1"] {
	background:url('https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/2');
	background-size:18px;
	width:18px;
	height:18px;
	padding-left:18px;
}

/* ======= 구독티콘 ======= */

img[src*='https://static-cdn.jtvnw.net/emoticons/v1/69/1.0'] {
	background:url('../images/bloodtrail3x.png');
	background-size:41px 28px;
	height:28px !important;
	width:41px;
	padding-left:41px;
}
.fr-popup .fr-emoticon {
	width: 35px !important;
	padding: 2px;
}
.fr-popup .fr-emoticon img {
	height: 35px !important;
	width: 35px !important;
}

/* JKanStyle */
span[data-param1*="JKanStyle"]>img,
img[alt*="JKanStyle"],
#article-content-wrapper #article-content img[alt*="JKanStyle"] {
	background: url('../images/gif/bongsoon_001.gif') no-repeat
}

/* OptimizePrime */
span[data-param1*="OptimizePrime"]>img,
img[alt*="OptimizePrime"],
#article-content-wrapper #article-content img[alt*="OptimizePrime"] {
	background: url('../images/gif/bongsoon_002.gif') no-repeat
}

/* StoneLightning */
span[data-param1*="StoneLightning"]>img,
img[alt*="StoneLightning"],
#article-content-wrapper #article-content img[alt*="StoneLightning"] {
	background: url('../images/gif/bongsoon_003.gif') no-repeat
}

/* TheRinger */
span[data-param1*="TheRinger"]>img,
img[alt*="TheRinger"],
#article-content-wrapper #article-content img[alt*="TheRinger"] {
	background: url('../images/gif/bongsoon_004.gif') no-repeat
}

/* RedCoat */
span[data-param1*="RedCoat"]>img,
img[alt*="RedCoat"],
#article-content-wrapper #article-content img[alt*="RedCoat"] {
	background: url('../images/gif/bongsoon_005.gif') no-repeat
}

/* JonCarnage */
span[data-param1*="JonCarnage"]>img,
img[alt*="JonCarnage"],
#article-content-wrapper #article-content img[alt*="JonCarnage"] {
	background: url('../images/gif/bongsoon_006.gif') no-repeat
}

/* BCWarrior */
span[data-param1*="BCWarrior"]>img,
img[alt*="BCWarrior"],
#article-content-wrapper #article-content img[alt*="BCWarrior"] {
	background: url('../images/gif/bongsoon_007.gif') no-repeat
}

/* GingerPower */
span[data-param1*="GingerPower"]>img,
img[alt*="GingerPower"],
#article-content-wrapper #article-content img[alt*="GingerPower"] {
	background: url('../images/gif/bongsoon_008.gif') no-repeat
}

span[data-param1*="JKanStyle"]>img,
span[data-param1*="OptimizePrime"]>img,
span[data-param1*="StoneLightning"]>img,
span[data-param1*="TheRinger"]>img,
span[data-param1*="RedCoat"]>img,
span[data-param1*="JonCarnage"]>img,
span[data-param1*="BCWarrior"]>img,
span[data-param1*="GingerPower"]>img
{
	background-size: 35px;padding-left: 35px;
}
img[alt*="JKanStyle"], #article-content-wrapper #article-content img[alt*="JKanStyle"],
img[alt*="OptimizePrime"], #article-content-wrapper #article-content img[alt*="OptimizePrime"],
img[alt*="StoneLightning"], #article-content-wrapper #article-content img[alt*="StoneLightning"],
img[alt*="TheRinger"], #article-content-wrapper #article-content img[alt*="TheRinger"],
img[alt*="RedCoat"], #article-content-wrapper #article-content img[alt*="RedCoat"],
img[alt*="JonCarnage"], #article-content-wrapper #article-content img[alt*="JonCarnage"],
img[alt*="BCWarrior"], #article-content-wrapper #article-content img[alt*="BCWarrior"],
img[alt*="GingerPower"], #article-content-wrapper #article-content img[alt*="GingerPower"]
{
	background-size: 80px;padding-left: 80px;width: 80px;height: 80px !important
}
