/* ======= 뱃지 ======= */

img[src*="https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/1"] {
	background:url('https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/2');
	background-size:18px;
	width:18px;
	height:18px;
	padding-left:18px;
}

/* ======= 구독티콘 ======= */

img[src*='https://static-cdn.jtvnw.net/emoticons/v1/69/1.0'] {
	background:url('../images/bloodtrail3x.png');
	background-size:41px 28px;
	height:28px !important;
	width:41px;
	padding-left:41px;
}
.fr-popup .fr-emoticon {
	width: 35px !important;
}
.fr-popup .fr-emoticon img {
	height: 35px !important;
	width: 35px !important;
}
span[data-param1*="JKanStyle"]>img {
	padding-left: 35px;
	background-image: url('../images/gif/bongsoon_001.gif');
	background-repeat: no-repeat;
	background-size: 35px;
}
#article-content-wrapper #article-content img[alt*="JKanStyle"] {
	background-image: url('../images/gif/bongsoon_001.gif');
	background-repeat: no-repeat;
	background-size: 60px;
	height: 60px !important;
	width: 60px;
	padding-left: 60px;
}