/* ======= 뱃지 ======= */

img[src*="https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/1"] {
	background:url('https://static-cdn.jtvnw.net/badges/v1/67d7841c-70ec-4d78-b199-610a466fb28a/2');
	background-size:18px;
	width:18px;
	height:18px;
	padding-left:18px;
}

/* ======= 구독티콘 ======= */

img[src*='https://static-cdn.jtvnw.net/emoticons/v1/69/1.0'] {
	background:url('../images/bloodtrail3x.png');
	background-size:41px 28px;
	height:28px !important;
	width:41px;
	padding-left:41px;
}
.fr-popup .fr-emoticon {
	width: 35px !important;
	padding: 2px;
}
.fr-popup .fr-emoticon img {
	height: 35px !important;
	width: 35px !important;
}

/* JKanStyle */
span[data-param1*="JKanStyle"]>img,
img[alt*="JKanStyle"],
#article-content-wrapper #article-content img[alt*="JKanStyle"] {
	background: url('../images/gif/bongsoon_001.gif') no-repeat
}

/* OptimizePrime */
span[data-param1*="OptimizePrime"]>img,
img[alt*="OptimizePrime"],
#article-content-wrapper #article-content img[alt*="OptimizePrime"] {
	background: url('../images/gif/bongsoon_002.gif') no-repeat
}

/* StoneLightning */
span[data-param1*="StoneLightning"]>img,
img[alt*="StoneLightning"],
#article-content-wrapper #article-content img[alt*="StoneLightning"] {
	background: url('../images/gif/bongsoon_003.gif') no-repeat
}

/* TheRinger */
span[data-param1*="TheRinger"]>img,
img[alt*="TheRinger"],
#article-content-wrapper #article-content img[alt*="TheRinger"] {
	background: url('../images/gif/bongsoon_004.gif') no-repeat
}

/* RedCoat */
span[data-param1*="RedCoat"]>img,
img[alt*="RedCoat"],
#article-content-wrapper #article-content img[alt*="RedCoat"] {
	background: url('../images/gif/bongsoon_005.gif') no-repeat
}

/* JonCarnage */
span[data-param1*="JonCarnage"]>img,
img[alt*="JonCarnage"],
#article-content-wrapper #article-content img[alt*="JonCarnage"] {
	background: url('../images/gif/bongsoon_006.gif') no-repeat
}

/* BCWarrior */
span[data-param1*="BCWarrior"]>img,
img[alt*="BCWarrior"],
#article-content-wrapper #article-content img[alt*="BCWarrior"] {
	background: url('../images/gif/bongsoon_007.gif') no-repeat
}

/* GingerPower */
span[data-param1*="GingerPower"]>img,
img[alt*="GingerPower"],
#article-content-wrapper #article-content img[alt*="GingerPower"] {
	background: url('../images/gif/bongsoon_008.gif') no-repeat
}

/* DansGame */
span[data-param1*="DansGame"]>img,
img[alt*="DansGame"],
#article-content-wrapper #article-content img[alt*="DansGame"] {
	background: url('../images/gif/bongsoon_009.gif') no-repeat
}

/* SwiftRage */
span[data-param1*="SwiftRage"]>img,
img[alt*="SwiftRage"],
#article-content-wrapper #article-content img[alt*="SwiftRage"] {
	background: url('../images/gif/bongsoon_010.gif') no-repeat
}

/* PJSalt */
span[data-param1*="PJSalt"]>img,
img[alt*="PJSalt"],
#article-content-wrapper #article-content img[alt*="PJSalt"] {
	background: url('../images/gif/bongsoon_011.gif') no-repeat
}

/* KevinTurtle */
span[data-param1*="KevinTurtle"]>img,
img[alt*="KevinTurtle"],
#article-content-wrapper #article-content img[alt*="KevinTurtle"] {
	background: url('../images/gif/bongsoon_012.gif') no-repeat
}

/* Kreygasm */
span[data-param1*="Kreygasm"]>img,
img[alt*="Kreygasm"],
#article-content-wrapper #article-content img[alt*="Kreygasm"] {
	background: url('../images/gif/bongsoon_013.gif') no-repeat
}

/* ArsonNoSexy */
span[data-param1*="ArsonNoSexy"]>img,
img[alt*="ArsonNoSexy"],
#article-content-wrapper #article-content img[alt*="ArsonNoSexy"] {
	background: url('../images/gif/bongsoon_014.gif') no-repeat
}

/* SMOrc */
span[data-param1*="SMOrc"]>img,
img[alt*="SMOrc"],
#article-content-wrapper #article-content img[alt*="SMOrc"] {
	background: url('../images/gif/bongsoon_015.gif') no-repeat
}

/* OneHand */
span[data-param1*="OneHand"]>img,
img[alt*="OneHand"],
#article-content-wrapper #article-content img[alt*="OneHand"] {
	background: url('../images/gif/bongsoon_016.gif') no-repeat
}

/* HassanChop */
span[data-param1*="HassanChop"]>img,
img[alt*="HassanChop"],
#article-content-wrapper #article-content img[alt*="HassanChop"] {
	background: url('../images/gif/bongsoon_017.gif') no-repeat
}

span[data-param1*="JKanStyle"]>img,
span[data-param1*="OptimizePrime"]>img,
span[data-param1*="StoneLightning"]>img,
span[data-param1*="TheRinger"]>img,
span[data-param1*="RedCoat"]>img,
span[data-param1*="JonCarnage"]>img,
span[data-param1*="BCWarrior"]>img,
span[data-param1*="GingerPower"]>img,
span[data-param1*="DansGame"]>img,
span[data-param1*="SwiftRage"]>img,
span[data-param1*="PJSalt"]>img,
span[data-param1*="KevinTurtle"]>img,
span[data-param1*="Kreygasm"]>img,
span[data-param1*="ArsonNoSexy"]>img,
span[data-param1*="SMOrc"]>img,
span[data-param1*="OneHand"]>img,
span[data-param1*="HassanChop"]>img
{
	background-size: 35px;padding-left: 35px;
}
img[alt*="JKanStyle"], #article-content-wrapper #article-content img[alt*="JKanStyle"],
img[alt*="OptimizePrime"], #article-content-wrapper #article-content img[alt*="OptimizePrime"],
img[alt*="StoneLightning"], #article-content-wrapper #article-content img[alt*="StoneLightning"],
img[alt*="TheRinger"], #article-content-wrapper #article-content img[alt*="TheRinger"],
img[alt*="RedCoat"], #article-content-wrapper #article-content img[alt*="RedCoat"],
img[alt*="JonCarnage"], #article-content-wrapper #article-content img[alt*="JonCarnage"],
img[alt*="BCWarrior"], #article-content-wrapper #article-content img[alt*="BCWarrior"],
img[alt*="GingerPower"], #article-content-wrapper #article-content img[alt*="GingerPower"],
img[alt*="DansGame"], #article-content-wrapper #article-content img[alt*="DansGame"],
img[alt*="SwiftRage"], #article-content-wrapper #article-content img[alt*="SwiftRage"],
img[alt*="PJSalt"], #article-content-wrapper #article-content img[alt*="PJSalt"],
img[alt*="KevinTurtle"], #article-content-wrapper #article-content img[alt*="KevinTurtle"],
img[alt*="Kreygasm"], #article-content-wrapper #article-content img[alt*="Kreygasm"],
img[alt*="ArsonNoSexy"], #article-content-wrapper #article-content img[alt*="ArsonNoSexy"],
img[alt*="SMOrc"], #article-content-wrapper #article-content img[alt*="SMOrc"],
img[alt*="OneHand"], #article-content-wrapper #article-content img[alt*="OneHand"],
img[alt*="HassanChop"], #article-content-wrapper #article-content img[alt*="HassanChop"]
{
	background-size: 80px;padding-left: 80px;width: 80px;height: 80px !important
}
