img[src*="https://static-cdn.jtvnw.net/badges/v1/12da1a5f-41c9-43e2-81bf-f1fca061f6b3/1"] {
	background:url('../images/apple_logo.svg');
	background-size:18px 18px;
	filter:invert(0.6);
	width:18px;
	height:18px;
	padding-left:18px;
}
img[src*="https://static-cdn.jtvnw.net/chat-badges/globalmod.png"] {
	/*
	background:url('../images/globalmod72.png');
	background-size:18px;
	width:18px;
	height:18px;
	padding-left:18px;
	*/
	display: none;
}